@font-face {
    font-family: "Daft Font";
    src: url("/fonts/Free\ Hustle\ Hardcore.ttf");
}

*{
    box-sizing: border-box;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 0, 0);
}

.calculator{
    background-color: rgba(0, 242, 255, 0.813);
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 30px 0 30px;
    border-color: dimgray;
    border-width: 30px;
    border-radius: 20px;
    box-shadow: 15px 15px 15px ;
}

.calculator > .operands{
    width: 100%;
    padding: 20px;
    text-align: right;
    background-color: rgba(255, 200, 0, 0.6);
    margin-bottom: 5px;
    border-radius: 25px;
    font-size: 80px;
    font-family: "Daft Font";
    
}
.calculator > .operands > [data-operand-1]{

        font-size: 50px;
}
.calculator> .btn-grid{

    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    gap: 15px;
    
}

.calculator> .btn-grid > button{
background-color: darkgoldenrod;   
padding: 10px;
font-family: "Daft Font";
font-size: 50px;
border-radius: 45px;
border-width: 15px;

}

.calculator> .btn-grid > button:nth-child(2){
grid-column: span 2;
}
.calculator> .btn-grid > button:last-child{
    grid-column: span 2;
    background-color: gold;
    border-color: orange;
}

#audio {
    display: none;
}